body
{
font-size: 15px;
padding: 0;
margin: 0;
background-color:#f4f4f4;
background-size: 100% 100%;
}

header
{
	background-color: #35424a;
	border-bottom: #e8491d 3px solid;
	color:#ffffff;
	padding-top:30px;
	min-height: 70px;

}
.container
{

	width: 80%;
	margin:auto;
}
header #name
{
	float:left;
}
header #name h1
{
	margin:auto;
}
header #name h2
{
	margin: 2px;
}
header a
{
		text-decoration: none;
text-transform: uppercase;
color:#f4f4f4;
}
header nav
{
	float:right;
	padding:0px 50px 20px 0;

}
header .highlight, header .current a
{
	color: #e8491d;
}
header a:hover
{
	color:#e8491d;
	font-weight: bold;

}
header li
{
	display: inline;
	padding:0 20px 0 20px;

}

section #main{
	background: url('house.png') no-repeat;
	height: 1300px;
	background-size: 100% 100%;
	font-size: cover; 
	background-attachment: fixed;
}

#main img
{
width: 180px;
height: 190px;
border:2px solid grey;
border-radius:25px;
margin:15px 0 10px 25px;
float:left;
}
#main h1
{
	float:left;
	background-color: #ccc;
	border:2px solid grey;
	border-radius:22px;
	size: 16px;
	color:#35424a;
	font-size: 40px;
	margin:10px 0 0 30px;
}
#main p
{
	background-color: #ccc;
	border:2px solid grey;
	border-radius: 22px;
    color:#35424a;
    float:left;
    width:76%;
    margin:10px 10px 0 10px;
    text-align: center;
}



section p 
{
float:right;	
}
#end
{
	border-top:1px solid #e8491e;
	padding:2.5px 0 3px 0;
    min-height: 30px;
	background: #35424a;
	color:#ffffff;
    background-color: #35424a;
    text-align: center;
}
#interests 
{
	background-color: #ccc;
	border:2px solid grey;
	border-radius: 20px;
	width: 40%;
	color: #35424a;
	margin: 50px 0 0 10px;
	line-height: 18px;
}
#interests h3
{
	margin-left: 30px;
}

#interests li
{
	line-height: 18px;
}

.box
{
	float: left;
	width: 100%;
	margin:10px 10px 10px 10px;
	padding:auto;
}